{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Password reset done{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow-lg rounded-lg p-4 p-md-5" style="width: 80%;">
        <h1 class="text-center mb-4 text-success ">Password Successfully Changed</h1>
         <p class="lead text-center">Your password is now changed.</p>
        <hr class="my-4">
        <div class="d-flex justify-content-center">  <a href="{% url 'account_login' %}" class="btn btn-lg w-50 mt-3 text-decoration-none btn-outline-primary">Go to Login</a></div>
       
    </div>
</div>
{% endblock %}