{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow-lg rounded-4 p-4 p-md-5" style="width: 80%;">
        <h1 class="text-center mb-4">Change Password</h1>

        <form method="post" action="{{action_url}}">
            {% csrf_token %}
            {% crispy form %}
        </form>

        <hr class="my-4">
    </div>
</div>
{% endblock %}