{% extends "messageapp/base.html" %}
{% block title %}Create{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-md-6">
      <div class="card shadow message-area">
        <div class="card-header">
          <h5 class="card-title">Whisper your thoughts here</h5>
        </div>
        <div class="card-body p-4 p-md-5">
          <form method="POST">
            {% csrf_token %}
            <div class="input-group mb-2">
              <span class="to-recipient input-group-text border-0 shadow-sm">To:</span>
              {{ form.recipient_name }}
            </div>
            <div class="mb-3">
              {{ form.msg_text }}
            </div>
            <div class="card-footer d-flex justify-content-end mt-2 gap-2 ">
              <button type="submit" class="submit-btn btn btn-success border-0">
                Submit
              </button>
              <button type="button" class="btn btn-outline-danger" onclick="window.history.back()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
