<div class="main-body container pt-5 mt-lg-2 mt-5">
  <h1 class="display-4 fw-bold text-center title mb-4">
    A quiet place for your unheard thoughts
  </h1>
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <p class="lead text-center text-muted app-intro">
        Leave a message for anyone simply by using their name. They, or anyone
        else, can then search for that name to find the notes you've left
        behind. It's open and honest expression, delivered.
      </p>
    </div>
  </div>

  {% if searched_name %}
  <div class="row mt-4 justify-content-center">
    <div class="col-6">
      <h3 class="text-muted text-center">
        Showing results for: {{searched_name}}
      </h3>
    </div>
  </div>

  {% for msg in msgs %}
  <div class="card shadow-md message-body">
    <div class="card-body">
      <h4>Sent to : {{msg.recipient_name}}</h4>
      <p>{{msg.msg_text}}</p>
      <small>
        Posted on {{msg.date_posted|date:"M d,Y"}} at
        {{msg.date_posted|time:"g:i a"}}
      </small>
    </div>
  </div>
  {% empty %}
  <div class="row mt-2 justify-content-center">
    <div class="col-6">
      <h3 class="text-muted text-center">Sorry, no messages found.</h3>
    </div>
  </div>
  {% endfor %} {% else %}
  <div class="card card shadow-md message-body">
    <div class="card-body">
      <h1 class="text-center">Welcome to the Message Board!</h1>
      <p class="text-center lead">
        Use the search bar above to find messages by a specific person.
      </p>
    </div>
  </div>
  {% endif %}
</div>
