{% load static %}

<nav class="navbar navbar-expand-lg fixed-top shadow-md">
  <div class="container-fluid">
    <a href="#" class="navbar-brand text-white"><i>Ghost Note</i></a>
    <button
      class="navbar-toggler text-bg-light"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse pt-2 fade show" id="navbarContent">
      <div class="d-flex ms-auto gap-2">
        <button
          type="button"
          class="message-button btn btn-primary border-0 text-nowrap"
          data-bs-toggle="modal"
          data-bs-target="#newMessageModal"
        >
          Compose
        </button>

          <form method="GET">
            <div class="row mx-2" style="height: 36px">  
            <input
              class="search-field form-control shadow-sm border-0"
              type="search"
              placeholder="Search by name"
              name="query_name"
            />
          </div>
        </form>  

      </div>
    </div>
  </div>
</nav>
